@using MyLifeStyle.Common
@using MyLifeStyle.Web.ViewModels.Articles
@model ArticleDetailsViewModel
@{
    ViewData["Title"] = "Article Details";
}

@*<h1>@ViewData["Title"]</h1>*@

<h2 class="title">@Model.PublicationTitle</h2>
<hr>
<div class="article text">
    <p>
        @Model.Description
    </p>
    <div class="meta">
        <p>
            <small>
                Тази статия е публикувана на @Model.PublicationCreatedOn, от автор @Model.PublicationUserFullName &nbsp;&bull;&nbsp;
            </small>
        </p>
        <p class="links">
            Категория  <a href="/Articles/Index/@Model.CategoryId ">@Model.CategoryName</a>	&#187;
        </p>
    </div>
    <hr>

    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName)
|| this.User.IsInRole(GlobalConstants.ModeratorRoleName)
|| Model.CurrentUserId == Model.PublicationUserId)
    {
        <a href="/Articles/Edit/@Model.Id" class="btn btn-warning text-white font-weight-bold">Edit</a>
        <a href="/Articles/Delete/@Model.Id" class="btn btn-danger text-white font-weight-bold">Delete</a>
    }
    <a href="/Articles/All" class="btn btn-success text-white font-weight-bold">Back to Articles</a>
</div>
<hr>
<div>
    <a href="/Comments/Article/@Model.Id" class="btn btn-primary btn-lg">Comments (@Model.CommentsCount)</a>
</div>
<hr>